.page .theme-default-content:not(.custom) {
    max-width: 1240px
}
.home .hero .action-button {
    background-color: #2d8cf0;
    border-bottom: #2d8cf0
}
/* .home .hero .action-button:hover {
    background-color: #2d8cf0;
    border-bottom: #2d8cf0
} */